{# templates/Default/index.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <h1>Homepage</h1>
    <br><br>
    <div class="well">
        <p>Test task Guestbook</p>

        <p></p>

        <p>Engine:</p>
        <ul>
            <li>PHP 7.1 (Symfony 4)</li>
            <li>Mysql 5.5 (Doctrine ORM)</li>
            <li>Javascript ES2015 (Symfony Encore + JQuery)</li>
            <li>Styles (SCSS + Bootstrap 3.3.7 + PostCSS Autoprefixer)</li>
        </ul>
    </div>
{% endblock %}
